<h1>Welcome to Meadowlark Travel</h1>
  <div class="btn-group btn-group-xs">
    <a class="btn btn-primary" href="/about">About</a>
	<a class="btn btn-primary" href="/jquery-test">JQuery test</a>
	<a class="btn btn-primary" href="/nursery-rhyme">Nursery-Rhyme</a>
	<a class="btn btn-primary" href="/newsletter">Newsletter</a>
	<a class="btn btn-primary" href="/contest/vacation-photo">Vacation Photo</a>
	<a class="btn btn-primary" href="/tours">Tours</a>
  </div>
{{> weather}}